
<html>
<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<center>
    {% include 'head.html' %}
    {% include 'menu.html' %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <form action="/savemployee/" method="post">
        {% csrf_token %}
        {{ forms.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</center>
</body>
</html>