<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<center>
    {% include 'head.html' %}
    {% include 'menu.html'%}
    <br>
<br>
<br>
<br>
<br>
    <br>
<br>
    <form action="/saveplot/" method="post" enctype="multipart/form-data">
        {% csrf_token %}

    <table align="center" >
        <tr>
            <th>PLOT NO</th>
            <th><input type="number" PLACEHOLDER="PLOTNO" name="pno" required></th>
        </tr>


         <tr>
            <th>ROAD NO</th>
            <th><input type="number" PLACEHOLDER="ROADNO" name="rdno" required></th>
        </tr>

         <tr>
            <th>SURVEY NO</th>
            <th><input type="number" PLACEHOLDER="SURVEYNO" name="srno" required></th>
        </tr>


         <tr>
            <th>COSTPER SQR</th>
            <th><input type="number" PLACEHOLDER="COSTPERSQR" name="cqspo" required></th>
        </tr>


         <tr>
            <th>OTHER EXPENSE</th>
            <th><input type="number" PLACEHOLDER="OTHER EXPENSE" name="oexp" required></th>
        </tr>

         <tr>
            <th>BOUNDRIES</th>
            <th><input type="number" PLACEHOLDER="BOUNDRIES" name="bnds" required></th>
        </tr>

        <tr>
            <th>FACING</th>
            <th>
                <select name="fac">
                    <option value="east">EAST</option>
                    <option value="west">WEST</option>
                    <option value="SOUTH">SOUTH</option>
                    <option value="north">NORTH</option>
                </select>
            </th>
        </tr>


        <tr>
            <th>STATUS</th>
            <th><input type="text" PLACEHOLDER="STATUS" name="sts" required></th>
        </tr>

        <tr>
            <th>TOTAL COST</th>
            <th><input type="number" PLACEHOLDER="TOTAL COST" name="tct" required></th>
        </tr>
         <tr>
            <th>PROPERTY IMAGE</th>
            <th><input type="file"  name="pimg" required></th>
        </tr>

        <tr>
            <th> <button type="submit" class="btn btn-primary">Submit</button></th>
        </tr>


    </table>
    </form>
</center>
</body>
</html>